<!DOCTYPE html>
<html>
  <head>
    <title>CovidStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <div class="store">
      <h2 id="store_name">The COVID-19 Supply Store</h2>
      <h4 id="tagline">Your one stop shop for all your isolation needs!</h4>
      <br />
    </div>
  <body>
    <%= render 'layouts/navbar'%>
    <%= yield %>
  </body>
</html>
